body {
    margin: 0;
    background: #1F2937;
}

#headline2 {
    color: #4ADF86;
    line-height: 40px;
    padding: 0;
    margin: 0;
}

#headline1 {
    color: #D5D4D8;
    line-height: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10%; 
}

.headline {
    line-height: 40px;
    margin-left: 30%;
    font-family: Karla;
    font-weight: 800;
}

#text {
    color: #D5D4D8;
    margin-left: 30%;
    font-family: Inter;
    font-weight: 400;
}

#length-el {
    display: block;
    margin-left: 30%;
    margin-bottom: 10px;
    background: #D5D4D8;
    padding: 7px;
    border-radius: 7px;
    font-family: Inter;
    font-weight: 300;
}

#pass-el {
    margin-left: 30%;
    background: #10B981;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #D5D4D8;
    font-family: Inter;
    font-weight: 500;
}

.passwordDisplay {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    color: #10B981;
    font-family: Inter;
    font-weight: 500;
}

#pass1 {
    margin-left: 30%;
    background: #2F3E53;
    padding: 10px;
    border-radius: 7px
}

#pass2 {
    margin-left: 5%;
    background: #2F3E53;
    padding: 10px;
    border-radius: 7px;
}

#border {
    border: 1px solid #2F3E53;
    width: 80%;
    margin: 20px auto ;
}

@font-face {
    font-family: 'Inter';
    src: url(Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Karla';
    src: url(Karla/Karla-VariableFont_wght.ttf);
}